:root {
  --main-bg-color: #0071bd;
  --nav-bg-color: rgb(129, 184, 223);
  --menu-button-bg-color: #81b8df;
  --yellow-box-color: #fbb03b;
  --orange-box-color: #f15a25;
  --red-box-color: #c2272d;
  --footer-box-color: #b296c7;
  --aside-bg-color: #01a89e;
}

* {
  font-size: 100%;
  color: #ffffff;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--main-bg-color);
  height: 20vmax;
}

nav {
  display: none;
  background-color: var(--nav-bg-color);
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: 50px;
  margin-left: auto;
}

ul {
  display: none;
  align-items: center;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  padding: 15px;
}

.mainSection {
  padding-bottom: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1vmax;
}

.mainSection .boxWrapper {
  flex: 1;
}

footer {
  background-color: #662e91;
  height: auto;
  margin-top: auto;
  padding: 20px;
}

header,
footer .container {
  padding: 0 !important;
}

.menuButton {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--menu-button-bg-color);
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.menuButton i {
  font-size: 25px;
}

.boxWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  gap: 10px 0px;
}

.yBox,
.oBox,
.rBox,
.fBox {
  width: 100%;
  height: 13vmax;
  font-size: 2rem;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yBox {
  background-color: var(--yellow-box-color);
}

.oBox {
  background-color: var(--orange-box-color);
}

.rBox {
  background-color: var(--red-box-color);
}

.fBox {
  background-color: var(--footer-box-color);
}

.fBox:nth-child(1),
.fBox:nth-child(2) {
  display: none;
}

aside {
  background-color: var(--aside-bg-color);
  margin-top: auto;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  height: 20vmax;
}

@media (min-width: 576px) and (max-width: 1400px) {
  header {
    height: 8vh;
  }

  .oBox {
    display: none;
  }

  .yBox,
  .oBox,
  .rBox {
    width: 49%;
    height: 17.5vmax;
  }

  aside {
    height: 17.5vmax;
  }

  .boxWrapper {
    flex-direction: column;
  }

  .container .boxWrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 1vh 0px;
  }

  footer .boxWrapper {
    justify-content: space-between;
  }

  .fBox {
    height: 5vmax;
  }

  .fBox:nth-child(1) {
    display: flex;
    width: 49%;
  }

  .fBox:nth-child(2) {
    display: flex;
    width: 49%;
  }
}

@media (min-width: 1400px) {
  nav {
    display: flex;
  }

  .menuButton {
    margin-left: 10px;
  }

  header {
    height: 8vh;
  }

  .yBox,
  .oBox,
  .rBox {
    height: 14vmax;
  }

  .yBox {
    width: 24%;
  }

  .oBox {
    width: 32.5%;
  }

  .rBox {
    width: 49.4%;
  }

  .boxWrapper {
    flex-direction: row;
  }

  .container .boxWrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5vh 0px;
  }

  footer .boxWrapper {
    justify-content: space-between;
  }

  .fBox {
    height: 5vmax;
  }

  aside {
    margin-top: 0px;
    margin-left: 1vmax;
    flex: 0.25;
    height: auto;
  }

  .fBox {
    display: flex;
    width: 32.5%;
  }

  .fBox:nth-child(1),
  .fBox:nth-child(2) {
    display: flex;
  }
}
